<div class="warning_page j">
    <div class="container">

        <h2 class="warning_ttl">
            フレームワークを使用する上での注意点
        </h2>

        <img src="/sample.img/freamwork.app_warning.jpg" class="warning_img">

        <div class="warning_index">

            <div class="warning_card">
                <h2>フレークワークの意義</h2>
                <p>そもそもフレームワークの意義は</p>
                <br>
                <ul>
                    <li>・自分の思考の整理</li>
                    <li>・論理的な結論への手助け</li>
                </ul>
                <br>
                <p>のためにあります。このことを念頭に置いてフレームワークに取り組みましょう。</p>
            </div>

            <div class="warning_card">
                <h2>フレームワークの落とし穴</h2>
                <p>
                    便利なフレームワークには、以下のような落とし穴があります。
                </p>
                <br>
                <ul>
                    <li><h3>フレームワークを埋めることが目的になりがち</h3></li>
                        <p class="warning_txt">
                            よくある「手段が目的になる」パターンです。
                            なんのためにフレームワークを使用するのかを常に考えながらフレームワークに取り組みましょう。
                        </p>
                    <br>
                    <li><h3>埋めたことに満足して、思考が止まる</h3></li>
                        <p class="warning_txt">
                            フレームワークが目的化してしまった人はこれにも陥ります。
                            フレームワークが完成したことに満足してしまい、それを活用しないのはなんと勿体無いことでしょう。
                        </p>
                    <br>    
                    <li><h3>フレームワークが正解ではない</h3></li>
                        <p class="warning_txt">
                            先程の話と被りますが、フレームワークは活用してこそ意味がでます。
                            完成したフレームワークは正解ではなく、ヒントであることを忘れてはなりません。
                        </p>
                </ul>
            </div>

            <div class="warning_card">
                <h2>正しいフレームワークの使い方</h2>
                <p>
                    フレームワークは「<span>手段</span>」であることを念頭に取り組むことが鉄則です。
                    そして完成した「<span>ヒント</span>」を基に次なる行動を起こしましょう。
                </p>    
                <h4 class="warning_accent">フレームワークはアクションを伴って初めて意味を持ちます。</h4>
                <p>
                    つまり、フレームワークは自体には意味を持たないのです。
                    このことを意識すれば、きっと核心的なフレームワークが誕生するでしょう。
                </p>    
            </div>
        </div>
    </div>
</div>