<div class="mmp_page j">

    <div class="tool_top">
        <div class="container">
            <div class="tool_ttl">
                <h2>マインドマップ</h2>
                <p>自分を掘り下げていく</p>
            </div>

            <div class="tool_int">
                <p><img src="/sample.img/freamwork.app_mmp.jpg" class="tool_image"></p>
                <p class="tool_txt">
                    マインドマップは思考の整理に最適なフレームワークです。
                    自分の思考を俯瞰的に、直感的に捉えることができます。
                    そのため、今後のキャリアプランへの考察や、アイデアのヒントになり得るのです。
                    紙とペンを使ってやることを強くオススメするため、今回はやり方の説明だけに留めておきます。
                </p>    
            </div>
                
        </div>
    </div>    

    <div class="mmp_wrapper">
        <div class="container">

            <div class="mmp_warning">
                <h3 class="mmp_warning_ttl">
                    ※マインドマップは紙での作業をオススメします！
                </h3>
                <p class="mmp_warning_txt">
                    どうしてもPCでの作業を希望する場合以下のサイトがオススメです。
                </p>    
                <ul class="mmp_recsite">
                   <li><a href="https://jp.xmind.net/">「Xmind」</a></li>
                   <p>無料版だけでも満足に使えるツールアプリ</p>
                   <li><a href="https://www.mindmeister.com/ja">「Mindmeister」</a></li>
                   <p>インストールが不要であり、クラウド上にデータが保存される</p>
                   <li><a href="https://coggle.it/">「Coggle」</a></li> 
                   <p>マインドマップだけでなく、フローチャートも作れる</p>
                </ul>
            </div>

            <div class="mmp_int">
                <h3 class="mmp_int_ttl">マインドマップを作成する</h3>
                <div class="mmp_int_sec">
                    <h4 class="mmp_int_sec_ttl">＜目的＞</h4>

                    <div class="mmp_int_sec_txt">
                        <p>自分に関する情報を整理し、可視化する</p>
                    </div>    
                </div>

                <div class="mmp_int_sec">
                    <h4 class="mmp_int_sec_ttl">＜書き方＞</h4>

                    <div class="mmp_int_sec_txt">
                        <ul>
                            <li><p>はじめに、紙の中央に自分を書く(絵が本来推奨されているがこだわる必要はない)</p></li>
                            <li><p>中心から枝を広げる。自分に付随するカテゴリーを書き出す。(ヒント参照)</p></li>
                            <li><p>そのカテゴリーから考えうることを、さらに枝を伸ばす。</p></li>
                            <li><p>マインドマップを書き終えた後は、紙全体の情報を俯瞰しながら眺める。</p></li>
                            <li><p>そこから考察されることを、空白部分に箇条書きする。</p></li>
                        </ul>
                    </div>
                </div>

                <div class="mmp_int_sec">
                    <h4 class="mmp_int_sec_ttl">＜注意点＞</h4>

                    <div class="mmp_int_sec_txt last_facter">
                        <p>直感的に捉えらるように、カテゴリーとして書き込むのは、文章ではなく、単語だけで書き上げること。</p>
                    </div>    
                </div>
                
            </div>
        </div>
    </div>

</div>