<div class="swot_page j">

    <%= render partial: 'layouts/swot_lay' %>

    <div class="swot_wrapper">
        <div class="container">
            <div class="swot_form">
                <div class="swot_pear">
                    <div class="swot_card">
                        <h2 class="swot_ttl">Strength</h2>
                        <textarea></textarea>
                    </div>
                    <div class="swot_card">
                        <h2 class="swot_ttl">Weakness</h2>
                        <textarea></textarea>
                    </div>
                </div>
                <div class="swot_pear">
                    <div class="swot_card">
                        <h2 class="swot_ttl">Opportunity</h2>
                        <textarea></textarea>
                    </div>
                    <div class="swot_card">
                        <h2 class="swot_ttl">Threat</h2>
                        <textarea></textarea>
                    </div>
                </div>
            </div>

            <div class="swot_center">
                <h1>⬇︎</h1>
            </div>

            <div class="Xswot_form">
                <div class="swot_pear">
                    <div class="swot_card">
                        <h2 class="swot_ttl">Strength✖️Opportunity</h2>
                        <textarea></textarea>
                    </div>
                    <div class="swot_card">
                        <h2 class="swot_ttl">Strength ✖️ Threat</h2>
                        <textarea></textarea>
                    </div>
                </div>
                <div class="swot_pear">
                    <div class="swot_card">
                        <h2 class="swot_ttl">Weakness✖️Opportunity</h2>
                        <textarea></textarea>
                    </div>
                    <div class="swot_card">
                        <h2 class="swot_ttl">Weakness ✖️ Threat</h2>
                        <textarea></textarea>
                    </div>
                </div>
            </div>

        </div> 
    </div>    
</div>    