<div class="swot_page j">

    <div class="tool_top">
        <div class="container">
            <div class="tool_ttl">
                <h2>SWOT分析</h2>
                <p>Strength(強み),Weakness(弱み),Opportunity(機会),Threat(脅威)</p>
            </div>

            <div class="tool_int">
                <p><img src="/sample.img/freamwork.app_swot.jpg" class="tool_image"></p>
                <p class="tool_txt">
                    SWOT分析は本来、企業分析によく使われるフレームワークです。
                    しかし、自己分析のフレームワークに十分活用できると考え、採用しました。
                    強み、弱み、社会背景から見た強みが合う部分、合わない部分を書き出してみましょう。
                    また、従来通りの企業分析のフレームワークとしても使ってみましょう。
                </p>    
            </div>
                
        </div>
    </div>

    <div class="hint_modal_wrapper">
        <div class="modal">
            <div class="close_modal">
                <i class="far fa-times-circle "></i>
            </div>    
            <div class="modal_ttl">
                <h2>SWOT分析をする上でのポイント</h2>
            </div>
            <div class="modal_txt">
                <p>強み〜機会について箇条書きで書き出します</p>
                <div class="swot_modal">
                    <ul class="swot_modal_index">
                        <li>・Strengthには自分の強みと長所を書きましょう。</li>
                        <li>・Weaknessには自分の弱みと短所を書きましょう。</li>
                        <li>・Opportunityには就活市場における自分へのメリットを書きましょう</li>
                        <li>・Threatには就活市場における自分へのデメリットを書きましょう</li>
                        <p>OpportunityとThreatは、現在の就活市場をよく調べる必要があります。</p>
                    </ul>
                    <div class="swot_modal2">
                        <p>S✖️O,S✖️T,W✖️O,W✖️Tは、それぞれ箇条書きした要素を掛け合わして導き出される特徴を見出しましょう。</p>    
                        <p>S✖️O,S✖️T,W✖️O,W✖️Tは全て埋める必要はありませんが、思いついたら書いましょう。</p>    
                        <p>SWOTは企業分析にも使えます。</p>            
                    </div>
                </div>    
            </div>
        </div>
    </div>

    <div class="modal_open_btn">
        <div class="hint_btn">
            <h4>ヒント</h4>
        </div>
    </div>

    <div class="swot_wrapper">
        <div class="container">
            <div class="swot_form">
                <div class="swot_pear">
                    <div class="swot_card">
                        <h2 class="swot_ttl">Strength</h2>
                        <textarea></textarea>
                    </div>
                    <div class="swot_card">
                        <h2 class="swot_ttl">Weakness</h2>
                        <textarea></textarea>
                    </div>
                </div>
                <div class="swot_pear">
                    <div class="swot_card">
                        <h2 class="swot_ttl">Opportunity</h2>
                        <textarea></textarea>
                    </div>
                    <div class="swot_card">
                        <h2 class="swot_ttl">Threat</h2>
                        <textarea></textarea>
                    </div>
                </div>
            </div>

            <div class="swot_center">
                <h1>⬇︎</h1>
            </div>

            <div class="Xswot_form">
                <div class="swot_pear">
                    <div class="swot_card">
                        <h2 class="swot_ttl">Strength✖️Opportunity</h2>
                        <textarea></textarea>
                    </div>
                    <div class="swot_card">
                        <h2 class="swot_ttl">Strength ✖️ Threat</h2>
                        <textarea></textarea>
                    </div>
                </div>
                <div class="swot_pear">
                    <div class="swot_card">
                        <h2 class="swot_ttl">Weakness✖️Opportunity</h2>
                        <textarea></textarea>
                    </div>
                    <div class="swot_card">
                        <h2 class="swot_ttl">Weakness ✖️ Threat</h2>
                        <textarea></textarea>
                    </div>
                </div>
            </div>

        </div> 
    </div>    
</div>    