<div class="wcm_page j">

    <%= render partial: 'layouts/wcm_lay' %>

    <div class="wcm_wrapper">
        <div class="container">
            <div class="wcm_set">
                <h2 class="wcm_ttl">Will</h2>
                <p class="wcm_txt">やりたいこと</p>
                <textarea class="wcm_form"></textarea>
            </div>

            <div class="wcm_set">
                <h2 class="wcm_ttl">Can</h2>
                <p class="wcm_txt">できること</p>
                <textarea class="wcm_form"></textarea>
            </div>

            <div class="wcm_set">
                <h2 class="wcm_ttl">Must</h2>
                <p class="wcm_txt">やらなければならないこと</p>
                <textarea class="wcm_form"></textarea>
            </div>

           

            <div class="wcm_bottom">
                <h3 class="wcm_answer_txt">
                    WillとCanの重なる部分が自分のキャリアの方向性を示している
                </h3>
                <div class="wcm_answer">
                    <h3>Will ∩ Can =</h3>
                    <input class="wcm_input">
                </div>    
            </div>
        </div>
    </div>


</div>