<div class="tool_top">
    <div class="container">
        <div class="tool_ttl">
            <h2>Wll,Can,Must</h2>
            <p>やりたいこと、できること、やらなければならないこと</p>
        </div>

        <div class="tool_int">
            <p><img src="/sample.img/freamwork.app_wtc.jpg" class="tool_image"></p>
            <p class="tool_txt">
                Willはやりたいことを出来るか不安でも良いので、書き出します。
                特に答えが浮かばない就活生はどうして浮かばないか考えてみましょう。
                Canでは出来ることを書き出します。
                「自分は何が出来るのか」と問いかけ思い浮かぶことを書き出しましょう。
                謙虚になることは、Canを狭めてしまうので控え、周りに言われたことも書き出しましょう
                Mustではやらなければならないことを書き出します。
                周りから求めれることを指します。
                したがって自分の意思とは全く関係がありません。
            </p>    
        </div>
            
    </div>
</div>

<div class="hint_modal_wrapper">
    <div class="modal">
        <div class="close_modal">
            <i class="far fa-times-circle "></i>
        </div>    
        <div class="modal_ttl">
            <h2>Will,Can,Mustを考えるポイント</h2>
        </div>
        <div class="modal_txt">
            <p>やりたいこと、できること、やらなければならないこと</p>
            <div class="wcm_modal">
                <p class="wcm_txt">
                    WillとCanに整合性が取れた箇所は最も現実的なキャリアの方向性だと考えられる。
                </p>
            </div>
        </div>
    </div>
</div>

<div class="hint_btn_txt">
    <p>作業に詰まったら参考にしましょう</p>
</div>
<div class="modal_open_btn">
    <div class="hint_btn">
        <h4>ヒント</h4>
    </div>
</div>